body{
    text-align: center;
    background: url("./Assets/YosemiteLarge.JPG") no-repeat;
    background-color: lavender;
    color: blue;
    opacity: .85;
}
nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lavender;
    z-index: 5;
}
nav a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav span{
    margin-right: 5%;
    float: right;
    display: block;
    font-size: x-large;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.homenav{
    margin-right: 5%;
    float: right;
    display: block;
    font-size: x-large;
    color: lavender;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.name{
    font-weight: bolder;
    position: relative;
    top: 220px;
    color: darkblue;
}
.subname{
    position: relative;
    top: 220px;
    color: darkblue;
}
.resume{
    position: relative;
    top: 220px;
}
.resume a{
    color: blue;
}
#aboutme{
    position: relative;
    top: 80px;
    text-align: center;
    margin: 0 30px;
}
#aboutme div{
    text-align: left;
    font-size: large;
    font-weight: 400;
    color: darkblue;
}
#fog{
    opacity: .70;
    background-color: lavender;
}
#aboutme span b{
    font-weight: 600;
    font-size: x-large;
}
.header{
    text-align: center;
    color: darkblue;
}
#projects{
    /* might not need */
}
.row{
    margin: 0 10px;;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: lavender;
  }
  .card-title{
color: darkblue;
  }
  .card-text{
color: blue;
  }
  #projects a{
      color: darkblue;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
#contact{
    position: relative;
    top: 80px;
}
#nameandemail{
    height: 50px;
    width: 400px;
    color: darkblue;
}
#message{
    height: 200px;
    width: 806px;
    color: darkblue;
    font-weight: 500;
}
input{
    height: 40px;
    width: 100px;
    color: darkblue;
    font-weight: 500;
    font-size: large;
}
::placeholder{
color: darkblue;
}
#homefooter{
    position: relative;
    top: 480px;
    color: white;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}
#footer{
    position: relative;
    top: 200px;
    color: white;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}
#projectfooter{
    color: white;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}