body{
    text-align: center;
    background: url("./Assets/YosemiteLarge.JPG") no-repeat;
    background-color: lavender;
    color: blue;
}
nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lavender;
    z-index: 5;
}
nav a{
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav span{
    margin-right: 5%;
    float: right;
    display: block;
    font-size: x-large;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.homenav{
    margin-right: 5%;
    float: right;
    display: block;
    font-size: x-large;
    color: lavender;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.name{
    position: relative;
    top: 260px;
    color: darkblue;
}
.subname{
    position: relative;
    top: 260px;
    color: blue;
}
.resume{
    position: relative;
    top: 260px;
}
.resume a{
    color: lavender;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}
#aboutme{
    /* might not need */
}
#aboutme span{
    text-align: left;
    background-color: lavender;
}
.header{
    color: darkblue;
}
#projects{
    color: blue;
    display: inline-block;
    width: 100%;
}
#projects a{
    padding: 30px;
}
#projects img{
    border: darkblue solid 3px;
}
#contact{
    position: relative;
    top: 45px;
}
#nameandemail{
    height: 50px;
    width: 400px;
}
#message{
    height: 200px;
    width: 806px;
}
#homefooter{
    position: relative;
    top: 460px;
    color: white;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}
#footer{
    position: relative;
    top: 200px;
    color: white;
    text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}